		<div class="row" ng-controller="homeController">
			<!-- NEW EVENT -->
			<div id="newevent" class="col-xs-12">
				<div class="row">
					<div id="newevent-info" class="col-xs-offset-1 col-xs-10">
						<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
						<h4>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
					</div>
				</div>
				<div class="row">
					<div id="newevent-input" class="col-xs-offset-2 col-xs-8">
      					<input name="newevent" type="text" class="form-control input-md input-new" placeholder="Nombre de tu evento">
					</div>
				</div>
				<div class="row">
					<div id="newevent-button" class="col-xs-offset-2 col-xs-8">
      					<button class="btn btn-new center-block" type="button" onclick="">Crear evento</button>
					</div>
				</div>
			</div>
			<!-- ADMIN EVENTS 
			<div id="divadmin" class="col-xs-12">
				<div class="row">
					<div class="col-xs-6">
						<div class="row">
							<h3 class="text-center">Mi perfil</h3>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<img src="home/img/avatar.png" class="img-circle img-responsive">
							</div>
							<div class="col-xs-6">
								<h1>{{name}}</h1>
								<h5 class="text-center">Pipiolo</h5>
								<br>
								<h5><a href="/signout">Cerrar Sesión</a></h5>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="row">
							<h3 class="text-center">Eventos</h3>
						</div>
						<div class="row">
							<span class="text-center">
								<h2>+2</h2>
								<h4>eventos creados</h4>
							</span>
						</div>
					</div>
				</div>
			</div>-->
		</div>
